<app-navbar></app-navbar>
<section class="container-fluid corpPage">
    <article class="pt-5">
        <div class="containerLogos">
            <div class="imgGauche me-5">
                <img src="assets/img/cochonRoseProfilTransparentGauche.png" style="width: 120px;" alt="" srcset="">
            </div>
            <div class="ImgCentrale">
                <img src="assets/img/logoPascal.png" style="width: 220px;" alt="" srcset="">
            </div>
            <div class="imgDroite ms-5">
                <img src="assets/img/cochonRoseProfilTransparentDroite.png" style="width: 120px;" alt="" srcset="">
            </div>

        </div>
    </article>

    <!-- slider des produits charcutier caroussel-->
    <article>

    </article>


    <!-- CARDS neumorphism && glassmorphism-->
    <article>
        <div class="containerCards p-5 col-12 row">
            <!-- card style 1 -->
            <div class="card">
                <div class="imgContentCard">
                    <img src="assets/img/saucisses-toulouse-sans-PF.jpg" alt="">
                </div>
                <div class="bg-transparent pb-5">
                    <div class="cardContent">
                        <h5>Saucisse de Toulouse</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, non dolore ex iste quisquam delectus.</p>
                        <a href="">Comprar ya!</a>
                    </div>
                </div>
            </div>
            <!-- card style 2 -->
            <div class="card2 mt-3">
                <div class="circle"></div>
                <div class="contenu bg-transparent">
                    <h2 class="bg-transparent">Saucisse de Toulouse</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, perspiciatis libero itaque ad repudiandae omnis!</p>
                    <a href="#">Comprar Ya!</a>
                </div>
                <img src="assets/img/saucisses-toulouse-sans-PF.jpg" alt="" srcset="">
            </div>
        </div>

    </article>

    <article></article>
    <article></article>
</section>
<app-footer></app-footer>
