#mainNav .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 30px;
}

  .bg-dark {
    background-color: #46040f !important;
  }






