<section class="container-fluid">
    <div class="row">
        <!-- page gauche -->
        <article class="col-6 pageGauche bg-image image-fluid fondGauche">
            <!-- LOGO -->
            <div>
                <img
                    class="logoPG"
                    src="assets/img/logoPascal.webp"
                    alt=""
                />
            </div>
            <!-- Texte central -->
            <div class="grid textGaCentral justify-content-center">
                <div class="g-start-2 text-center PaGaText1 mb-3">
                    <h2 class="animate__animated animate__jello">Alista ...</h2>
                </div>
                <div class="g-start-2 text-center PaGaText2">TU PEDIDO</div>
                <div class="g-start-2 text-center text-white bottom-2"></div>
                <!-- navbar page  ouvrant sur 2 pages 1/2 menu restaurant 2/2 produits domicile de Fabrique-->
                <nav
                    class="col-xl-7 col-lg-8 col-md-8 col-sd-11 mt-5 navbar navbar-expand-lg navbar-light menuGauche rounded-5"
                >
                    <div class="container">
                        <div class="ContNav">
                            <ul class="listGloMenuGau">
                                <li class="d-flex flex-column justify-content-center align-items-center">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/boucherie.png"
                                            alt="caddie"
                                        />
                                    </a>
                                    <span class="spanParams">La fabrik</span>
                                </li>
                                <li class="d-flex flex-column justify-content-center align-items-center">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/lhorloge (4).png"
                                            alt="caddie"
                                            data-mdb-toggle="popover"
                                            title="Popover title"
                                            data-mdb-content="And here's some amazing content. It's very engaging. Right?"
                                            data-mdb-trigger="hover"
                                        />
                                    </a>
                                    <span class="spanParams">Horarios</span>
                                </li>
                                <li class="d-flex flex-column justify-content-center align-items-center">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/livre-de-contact.png"
                                            alt="caddie"
                                            data-mdb-toggle="popover"
                                            title="Popover title"
                                            data-mdb-content="And here's some amazing content. It's very engaging. Right?"
                                            data-mdb-trigger="hover"
                                        />
                                    </a>
                                    <span class="spanParams">Contactos</span>
                                </li>
                                <li class="d-flex flex-column justify-content-center align-items-center">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/whatsapp.png"
                                            alt="caddie"
                                        />
                                    </a>
                                    <span class="spanParams">whatsApp</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </article>
        <!-- page de droite -->
        <article class="col-6 pageDroite">
            <!-- navbarposition
             -->
             <nav class="col-12 navbar navbar-expand top menuDroit animate__backInLeft">
                <div class="conteneurMeDr">


                  <a class="navbar-link lienMenu" aria-current="page" href="#entradas">Entradas</a>
                  <a class="navbar-link lienMenu" aria-current="page" href="#sandwitches">Sandwitches</a>
                  <a class="navbar-link lienMenu" aria-current="page" href="#enPlato">En plato</a>
                  <a class="navbar-link lienMenu" aria-current="page" href="#tablas">Tablas de charcuteria</a>
                  <a class="navbar-link lienMenu" aria-current="page" href="#pizzas">Pizzas</a>
                  <a class="navbar-link lienMenu" aria-current="page" href="#bebidas">Bebidas</a>
                </div>
              </nav>
            <!-- entradas, sandwitches, en plato, tablas de charcuteria, pizzas, Bebidas -->
            <!-- carte Menu/article complet -->
            <section class="menuArt animate__animated animate__slideInRight ">
                <!-- Section Menu ind -->

                <article>
                    <div class="titreArt" id="entradas">Entradas</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox bottom-0">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="sandwitches">Sandwitches</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="enPlato">En plato</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="tablas">
                        Tablas de charcuteria
                    </div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="pizzas">Pizzas</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="bebidas">Bebidas</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </article>
    </div>
</section>
