<section class="container-fluid">
    <div class="row">
        <!-- page gauche -->
        <article class="col-6 pageGauche bg-image image-fluid fondGauche">
            <!-- LOGO -->
            <div>
                <img
                    class="logoPG"
                    src="assets/img/logo-charcuterie-pascal (1).png"
                    alt=""
                />
            </div>
            <!-- Texte central -->
            <div class="grid textGaCentral justify-content-center">
                <div class="g-start-2 text-center PaGaText1 mb-3">
                    Alista ...
                </div>
                <div class="g-start-2 text-center PaGaText2">TU PEDIDO</div>
                <div class="g-start-2 text-center text-white bottom-2"></div>
                <!-- navbar page  ouvrant sur 2 pages 1/2 menu restaurant 2/2 produits domicile de Fabrique-->
                <nav class="col-xl-7 col-lg-8 col-md-8 col-sd-11 navbar navbar-expand-lg navbar-light menuGauche rounded-5 ">
                    <div class="container">
                        <div class="ContNav">
                            <ul class="listGloMenuGau">
                                <li class="d-grid center">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/carte-de-credit (1).png"
                                            alt="caddie"
                                        />
                                    </a>
                                    <span class="spanParams">Compra</span>
                                </li>
                                <li class="">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/lhorloge (1).png"
                                            alt="caddie"
                                            data-mdb-toggle="popover"
                                            title="Popover title"
                                            data-mdb-content="And here's some amazing content. It's very engaging. Right?"
                                            data-mdb-trigger="hover"
                                        />
                                    </a>
                                    <span class="spanParams">Horarios</span>
                                </li>
                                <li class="">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/contact.png"
                                            alt="caddie"
                                            data-mdb-toggle="popover"
                                            title="Popover title"
                                            data-mdb-content="And here's some amazing content. It's very engaging. Right?"
                                            data-mdb-trigger="hover"
                                        />
                                    </a>
                                    <span class="spanParams">Contactos</span>
                                </li>
                                <li class="">
                                    <a href="#" class="">
                                        <img
                                            src="assets/img/whatsapp.png"
                                            alt="caddie"
                                        />
                                    </a>
                                    <span class="spanParams">whatsApp</span>
                                </li>

                                <li>
                                    <button
                                    class="navbar-toggler text-bg-warning btnColaps"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavAltMarkup"
                                    aria-controls="navbarNavAltMarkup"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"
                                    aria-haspopup="true"
                                >
                                <span class="navbar-toggler-icon"></span>
                                </button>
                                <span>Menus</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </article>
        <!-- page de droite -->
        <article class="col-6 pageDroite d-flex animate__animated animate__slideInRight">
            <!-- navbarposition top
             -->
            <nav class="navbar navbar-expand-lg navbar-light menuDroit">
                <div class="container-fluid">
                    <div
                        class="collapse navbar-collapse ColapsParams"
                        id="navbarNavAltMarkup"
                    >
                        <div class="navbar-nav">
                            <li>
                                <a
                                    class="nav-link lienMenu active"
                                    aria-current="page"
                                    href="#entradas"
                                    >Entradas</a
                                >
                            </li>
                            <li>
                                <a
                                    class="nav-link lienMenu active"
                                    aria-current="page"
                                    href="#sandwitches"
                                    >Sandwitches</a
                                >
                            </li>
                            <li>
                                <a
                                    class="nav-link lienMenu active"
                                    aria-current="page"
                                    href="#enPlato"
                                    >En plato</a
                                >
                            </li>
                            <li>
                                <a
                                    class="nav-link lienMenu active"
                                    aria-current="page"
                                    href="#tablas"
                                    >Tabla de charcuteria</a
                                >
                            </li>
                            <li>
                                <a
                                    class="nav-link lienMenu active"
                                    aria-current="page"
                                    href="#pizzas"
                                    >Pizzas</a
                                >
                            </li>
                            <li>
                                <a
                                    class="nav-link lienMenu active"
                                    aria-current="page"
                                    href="#bebidas"
                                    >Bebidas</a
                                >
                            </li>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- entradas, sandwitches, en plato, tablas de charcuteria, pizzas, Bebidas -->
            <!-- carte Menu/article complet -->
            <section class="menuArt">
                <!-- Section Menu ind -->

                <article class="sectionMenuInd">
                    <div class="titreArt" id="entradas">Entradas</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="sandwitches">Sandwitches</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="enPlato">En plato</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="tablas">
                        Tablas de charcuteria
                    </div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="pizzas">Pizzas</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="sectionMenuInd">
                    <div class="titreArt" id="bebidas">Bebidas</div>
                    <!-- div Container de tous les articles -->

                    <div class="containerArticles">
                        <!-- container d'un article -->
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carteArt bg-transparent">
                            <!-- img art -->
                            <div class="divImg">
                                <img
                                    src="assets/img/Boudin_blanc.webp"
                                    class="imgArt"
                                    alt=""
                                />
                            </div>

                            <!-- content art -->
                            <div class="artContentbox">
                                <!-- explicatif art -->
                                <div class="textContent">
                                    <h5>Boudin blanc</h5>
                                    <p class="ExplikART">
                                        salsicha con carne de cerdo y pollo con
                                        leche
                                    </p>
                                </div>
                                <!-- price art -->

                                <div class="priceBtnBox">
                                    <div class="PriceBox">
                                        <h6>$7.000</h6>
                                        <p class="ExplikART">Sencilla</p>
                                    </div>

                                    <!-- bouton achat -->
                                    <div class="btnAchat">
                                        <button class="btn btn-outline-warning">
                                            <img
                                                src="/assets/img/shopping-cart.png"
                                                style="
                                                    width: 35px;
                                                    margin: 5px 10px;
                                                "
                                                alt=""
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </article>
    </div>
</section>

