<footer class="footerContainer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto d-flex">
                <iframe class="mapPascal" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d764.0312780099785!2d-74.09849098303884!3d4.583284251129095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9994675d0ea3%3A0x59aff54b6fe5541c!2sCHARCUTERIA%20PASCAL!5e0!3m2!1sfr!2sco!4v1671672271487!5m2!1sfr!2sco" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                    <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
